<div class="container" ng-app="invoice">
<section class="jumbotron">
<h1 >Items</h1>
</section>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      
      <tbody>
        <tr >
            <td><input type="text" name="id" [(ngModel)]="itemsForm.id" class="form-control" id="txtId" /></td>
            <td><input type="text" name="description" [(ngModel)]="itemsForm.description" class="form-control" id="txtDescription" /></td>
            <td><input type="text" name="quantity" [(ngModel)]="itemsForm.quantity" class="form-control" id="txtDescription" /></td>
            <td>R<input type="text" name="price" [(ngModel)]="itemsForm.price" class="form-control" id="txtPrice" /></td>
          
        </tr>
      </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-primary" (click)="previousItemsById()">Previous Item</button>
      <button type="button" class="btn btn-primary" (click)="nextItemsById()">Next Item</button>
      <button type="button" (click)="openDeleteModal()" class="btn btn-danger">Delete</button>
      <a class="btn btn-primary" [routerLink]="['/invoices/createItem']">Add</a>
    </div>
    <a class="navbar-brand" href="#">Back</a>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete the item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>